In [1]:
from calendar_planner import Calendar

# Create a calendar
A ```Calendar```-object takes 4 lists as parameters:
- lecture_types: lectures that cannot be moved
- practical_lectures: lectures or activities that are attended by group.
- ignore: class types to ignore (see field `type` in Excel file).
- ignore_description: this list will be used to determine whether to ignore the record in the Excel file based on the field `description`.

In [2]:
# configuration
lecture_types = ["hoorcollege"]
practical_types = ["laptopcollege", "werkcollege", "presentatie"]
ignore = []
ignore_description = ["optional", "reistijd", "Klankbordgroep", "PAV"]

# create calendar 
calendar = Calendar(
    lecture_types=lecture_types, 
    practical_types=practical_types,
    ignore=ignore,
    ignore_description=ignore_description
)

## Add courses to our calendar
Now we can add courses to our calendar. We first create a dictionary that specifies where the Excel files of the courses can be found. The name of the course should be used as key and the path to the file as value.

In [3]:
# base
BASE = "./courses"

# path to files
course_paths = {
    "calculus": f"{BASE}/cc.xlsx",
    "taal theorie": "./courses/tt.xlsx",
    "organisatie: analyse & ontwikkeling": "./courses/org.xlsx"
}

We now will add our courses to our calendar by calling `Calendar`'s method ```read_courses_from_excel``` which takes 1 parameter, the dictionary ```course_paths``` which we just made.

In [4]:
calendar.read_courses_from_excel(course_paths)
print(calendar)

Calendar contains: calculus, taal theorie, organisatie: analyse & ontwikkeling and 0 other event(s)

# Find all possible combinations
Finally, we can find all possible combinations of practical seminars by calling ```Calendar```'s method ```find_all_schedules```. This method takes 3 __optional__ parameters, namely:
- format_groups: simplifies output
- start_time: a string that contains the lower time limit. This must be in 24-hour notation. Must be used in combination with the parameter ```end_time```. 
- end_time: a string that contains the lower time limit. This must be in 24-hour notation. Must be used in combination with the parameter ```start_time```. 

If ```start_time``` and ```end_time``` are set, only practical seminar groups are returned if their combined schedule falls within the given time range. The method returns a Pandas DataFrame, containing the groups of the corresponding course. Every record in the DataFrame is a possible combination of practical seminar groups.

In [5]:
df = calendar.find_all_schedules(
    format_groups=True, 
#     start_time="10:00", 
#     end_time="17:00"
)
print(f"There are {len(df)} possible schedules")
df.head(10)

There are 44 possible schedules

  calculus organisatie: analyse & ontwikkeling taal theorie
0        G                                   B            K
1        H                                   B            K
2        L                                   B            K
3        M                                   B            K
4        F                                   B            K
5        I                                   B            K
6        K                                   B            K
7        G                                   A            K
8        H                                   A            K
9        L                                   A            K

In [6]:
df[df["organisatie: analyse & ontwikkeling"] == "A"]

   calculus organisatie: analyse & ontwikkeling taal theorie
7         G                                   A            K
8         H                                   A            K
9         L                                   A            K
10        M                                   A            K
11        F                                   A            K
12        I                                   A            K
13        K                                   A            K